/* Icons from directory "" */
.m-badge-5,.m-badge-5\:regular{background-image:url('icons/5.svg');background-repeat:no-repeat}
.m-badge-5-dims{width:16px;height:16px}
.m-badge-50,.m-badge-50\:regular{background-image:url('icons/50.svg');background-repeat:no-repeat}
.m-badge-50-dims{width:16px;height:16px}
.m-badge-activity_1,.m-badge-activity_1\:regular{background-image:url('icons/activity_1.svg');background-repeat:no-repeat}
.m-badge-activity_1-dims{width:19px;height:18px}
.m-badge-activity_2,.m-badge-activity_2\:regular{background-image:url('icons/activity_2.svg');background-repeat:no-repeat}
.m-badge-activity_2-dims{width:19px;height:18px}
.m-badge-activity_3,.m-badge-activity_3\:regular{background-image:url('icons/activity_3.svg');background-repeat:no-repeat}
.m-badge-activity_3-dims{width:19px;height:18px}
.m-badge-activity_4,.m-badge-activity_4\:regular{background-image:url('icons/activity_4.svg');background-repeat:no-repeat}
.m-badge-activity_4-dims{width:19px;height:18px}
.m-badge-activity_5,.m-badge-activity_5\:regular{background-image:url('icons/activity_5.svg');background-repeat:no-repeat}
.m-badge-activity_5-dims{width:19px;height:18px}
.m-badge-ad,.m-badge-ad\:regular{background-image:url('icons/ad.svg');background-repeat:no-repeat}
.m-badge-ad-dims{width:26px;height:16px}
.m-badge-adm,.m-badge-adm\:regular{background-image:url('icons/adm.svg');background-repeat:no-repeat}
.m-badge-adm-dims{width:26px;height:16px}
.m-badge-best,.m-badge-best\:regular{background-image:url('icons/best.svg');background-repeat:no-repeat}
.m-badge-best-dims{width:34px;height:16px}
.m-badge-bot,.m-badge-bot\:regular{background-image:url('icons/bot.svg');background-repeat:no-repeat}
.m-badge-bot-dims{width:26px;height:16px}
.m-badge-cancel,.m-badge-cancel\:regular{background-image:url('icons/cancel.svg');background-repeat:no-repeat}
.m-badge-cancel-dims{width:26px;height:16px}
.m-badge-cate_eco,.m-badge-cate_eco\:regular{background-image:url('icons/cate_eco.svg');background-repeat:no-repeat}
.m-badge-cate_eco-dims{width:26px;height:16px}
.m-badge-cate_enterprise,.m-badge-cate_enterprise\:regular{background-image:url('icons/cate_enterprise.svg');background-repeat:no-repeat}
.m-badge-cate_enterprise-dims{width:26px;height:16px}
.m-badge-cate_etc,.m-badge-cate_etc\:regular{background-image:url('icons/cate_etc.svg');background-repeat:no-repeat}
.m-badge-cate_etc-dims{width:26px;height:16px}
.m-badge-cate_industry,.m-badge-cate_industry\:regular{background-image:url('icons/cate_industry.svg');background-repeat:no-repeat}
.m-badge-cate_industry-dims{width:26px;height:16px}
.m-badge-cate_market,.m-badge-cate_market\:regular{background-image:url('icons/cate_market.svg');background-repeat:no-repeat}
.m-badge-cate_market-dims{width:26px;height:16px}
.m-badge-cert,.m-badge-cert\:regular{background-image:url('icons/cert.svg');background-repeat:no-repeat}
.m-badge-cert-dims{width:26px;height:16px}
.m-badge-closed,.m-badge-closed\:regular{background-image:url('icons/closed.svg');background-repeat:no-repeat}
.m-badge-closed-dims{width:48px;height:16px}
.m-badge-ended,.m-badge-ended\:regular{background-image:url('icons/ended.svg');background-repeat:no-repeat}
.m-badge-ended-dims{width:26px;height:16px}
.m-badge-free,.m-badge-free\:regular{background-image:url('icons/free.svg');background-repeat:no-repeat}
.m-badge-free-dims{width:26px;height:16px}
.m-badge-grade_cl1,.m-badge-grade_cl1\:regular{background-image:url('icons/grade_cl1.svg');background-repeat:no-repeat}
.m-badge-grade_cl1-dims{width:26px;height:16px}
.m-badge-grade_cl2,.m-badge-grade_cl2\:regular{background-image:url('icons/grade_cl2.svg');background-repeat:no-repeat}
.m-badge-grade_cl2-dims{width:26px;height:16px}
.m-badge-grade_monster,.m-badge-grade_monster\:regular{background-image:url('icons/grade_monster.svg');background-repeat:no-repeat}
.m-badge-grade_monster-dims{width:26px;height:16px}
.m-badge-grade_pl1,.m-badge-grade_pl1\:regular{background-image:url('icons/grade_pl1.svg');background-repeat:no-repeat}
.m-badge-grade_pl1-dims{width:26px;height:16px}
.m-badge-grade_pl2,.m-badge-grade_pl2\:regular{background-image:url('icons/grade_pl2.svg');background-repeat:no-repeat}
.m-badge-grade_pl2-dims{width:26px;height:16px}
.m-badge-grade_pl3,.m-badge-grade_pl3\:regular{background-image:url('icons/grade_pl3.svg');background-repeat:no-repeat}
.m-badge-grade_pl3-dims{width:26px;height:16px}
.m-badge-grade_pls,.m-badge-grade_pls\:regular{background-image:url('icons/grade_pls.svg');background-repeat:no-repeat}
.m-badge-grade_pls-dims{width:26px;height:16px}
.m-badge-grade_r1,.m-badge-grade_r1\:regular{background-image:url('icons/grade_r1.svg');background-repeat:no-repeat}
.m-badge-grade_r1-dims{width:26px;height:16px}
.m-badge-grade_r2,.m-badge-grade_r2\:regular{background-image:url('icons/grade_r2.svg');background-repeat:no-repeat}
.m-badge-grade_r2-dims{width:26px;height:16px}
.m-badge-grade_r3,.m-badge-grade_r3\:regular{background-image:url('icons/grade_r3.svg');background-repeat:no-repeat}
.m-badge-grade_r3-dims{width:26px;height:16px}
.m-badge-grade_rs,.m-badge-grade_rs\:regular{background-image:url('icons/grade_rs.svg');background-repeat:no-repeat}
.m-badge-grade_rs-dims{width:26px;height:16px}
.m-badge-humor,.m-badge-humor\:regular{background-image:url('icons/humor.svg');background-repeat:no-repeat}
.m-badge-humor-dims{width:26px;height:16px}
.m-badge-immnent,.m-badge-immnent\:regular{background-image:url('icons/immnent.svg');background-repeat:no-repeat}
.m-badge-immnent-dims{width:48px;height:16px}
.m-badge-info,.m-badge-info\:regular{background-image:url('icons/info.svg');background-repeat:no-repeat}
.m-badge-info-dims{width:26px;height:16px}
.m-badge-long_term,.m-badge-long_term\:regular{background-image:url('icons/long_term.svg');background-repeat:no-repeat}
.m-badge-long_term-dims{width:26px;height:16px}
.m-badge-luckybox_blank,.m-badge-luckybox_blank\:regular{background-image:url('icons/luckybox_blank.svg');background-repeat:no-repeat}
.m-badge-luckybox_blank-dims{width:26px;height:16px}
.m-badge-luckybox_expiry,.m-badge-luckybox_expiry\:regular{background-image:url('icons/luckybox_expiry.svg');background-repeat:no-repeat}
.m-badge-luckybox_expiry-dims{width:26px;height:16px}
.m-badge-luckybox_new,.m-badge-luckybox_new\:regular{background-image:url('icons/luckybox_new.svg');background-repeat:no-repeat}
.m-badge-luckybox_new-dims{width:26px;height:16px}
.m-badge-luckybox_win,.m-badge-luckybox_win\:regular{background-image:url('icons/luckybox_win.svg');background-repeat:no-repeat}
.m-badge-luckybox_win-dims{width:26px;height:16px}
.m-badge-mid_term,.m-badge-mid_term\:regular{background-image:url('icons/mid_term.svg');background-repeat:no-repeat}
.m-badge-mid_term-dims{width:26px;height:16px}
.m-badge-notice,.m-badge-notice\:regular{background-image:url('icons/notice.svg');background-repeat:no-repeat}
.m-badge-notice-dims{width:26px;height:16px}
.m-badge-passed,.m-badge-passed\:regular{background-image:url('icons/passed.svg');background-repeat:no-repeat}
.m-badge-passed-dims{width:26px;height:16px}
.m-badge-position_down,.m-badge-position_down\:regular{background-image:url('icons/position_down.svg');background-repeat:no-repeat}
.m-badge-position_down-dims{width:26px;height:16px}
.m-badge-position_hold,.m-badge-position_hold\:regular{background-image:url('icons/position_hold.svg');background-repeat:no-repeat}
.m-badge-position_hold-dims{width:26px;height:16px}
.m-badge-position_up,.m-badge-position_up\:regular{background-image:url('icons/position_up.svg');background-repeat:no-repeat}
.m-badge-position_up-dims{width:26px;height:16px}
.m-badge-premium_end,.m-badge-premium_end\:regular{background-image:url('icons/premium_end.svg');background-repeat:no-repeat}
.m-badge-premium_end-dims{width:48px;height:16px}
.m-badge-premium_ing,.m-badge-premium_ing\:regular{background-image:url('icons/premium_ing.svg');background-repeat:no-repeat}
.m-badge-premium_ing-dims{width:48px;height:16px}
.m-badge-pro,.m-badge-pro\:regular{background-image:url('icons/pro.svg');background-repeat:no-repeat}
.m-badge-pro-dims{width:26px;height:16px}
.m-badge-pro_grey,.m-badge-pro_grey\:regular{background-image:url('icons/pro_grey.svg');background-repeat:no-repeat}
.m-badge-pro_grey-dims{width:26px;height:16px}
.m-badge-progress,.m-badge-progress\:regular{background-image:url('icons/progress.svg');background-repeat:no-repeat}
.m-badge-progress-dims{width:26px;height:16px}
.m-badge-qna,.m-badge-qna\:regular{background-image:url('icons/qna.svg');background-repeat:no-repeat}
.m-badge-qna-dims{width:26px;height:16px}
.m-badge-reflected,.m-badge-reflected\:regular{background-image:url('icons/reflected.svg');background-repeat:no-repeat}
.m-badge-reflected-dims{width:44px;height:16px}
.m-badge-rejected,.m-badge-rejected\:regular{background-image:url('icons/rejected.svg');background-repeat:no-repeat}
.m-badge-rejected-dims{width:26px;height:16px}
.m-badge-short_term,.m-badge-short_term\:regular{background-image:url('icons/short_term.svg');background-repeat:no-repeat}
.m-badge-short_term-dims{width:26px;height:16px}
.m-badge-sup,.m-badge-sup\:regular{background-image:url('icons/sup.svg');background-repeat:no-repeat}
.m-badge-sup-dims{width:26px;height:16px}
.m-badge-ultrashort_term,.m-badge-ultrashort_term\:regular{background-image:url('icons/ultrashort_term.svg');background-repeat:no-repeat}
.m-badge-ultrashort_term-dims{width:26px;height:16px}
.m-badge-voting,.m-badge-voting\:regular{background-image:url('icons/voting.svg');background-repeat:no-repeat}
.m-badge-voting-dims{width:26px;height:16px}
.m-badge-voting_closed,.m-badge-voting_closed\:regular{background-image:url('icons/voting_closed.svg');background-repeat:no-repeat}
.m-badge-voting_closed-dims{width:48px;height:16px}
.m-badge-voting_complete,.m-badge-voting_complete\:regular{background-image:url('icons/voting_complete.svg');background-repeat:no-repeat}
.m-badge-voting_complete-dims{width:48px;height:16px}