// app global css in Scss form
$primary:#8673FF;
$secondary:#ffa500;
$txt_dk:#141414;
$txt_red:#ec2222;
$com_line:#d4d9ea;
.font12{font-size:12px}
.font16{font-size:16px;font-weight: 700;}
.primary{color:$primary;}
.secondary{color:$secondary}
.dark{color:$txt_dk}
.txt_red{color:$txt_red}


.l_row_s{margin-bottom:16px}
.l_row{margin-bottom:26px;}
.l_row_l{margin-bottom:32px;}
.l_row_xl{margin-bottom:60px;}

.mgt16{margin-top:16px}

body{
    background-color: #f8f9fd !important;
    color: #9ca8ba !important;
    font-size: 14px;
    font-weight: 500;
    font-family: "Noto Sans KR", "Noto Sans", "Noto Serif KR", sans-serif;
}
.centerarea_box{
    width:332px;
    margin:0 auto;
    //700보다 작아질때
    @media (max-width: $breakpoint-xs-max) {
        width:100%;padding:0 12px;
    }
}
.centerarea_box01{
    width:100%;
    margin:0 auto;
    .btn_wrap{width:332px;margin:0 auto;
        &.l_row_s{padding-bottom:16px}
        &.l_row{padding-bottom:26px;}
        &.l_row_l{padding-bottom:32px;}
        &.l_row_xl{padding-bottom:60px;}
    }
    //700보다 작아질때
    @media (max-width: $breakpoint-xs-max) {
        width:100%;padding:0 12px;
        .btn_wrap{width:100%;margin:0 auto}
    }
}
.sub_title{
    font-size:16px;
    color: $txt_dk;
    font-weight: 700;
}
.login_wrap{
    .monstock_logo{text-align: center;padding:32px 0;}
    .login_area{
        .l_row + .l_row{margin-bottom:26px}
        .btn_wrap{
            margin:10px 0 10px 0
        }
        .check_wrap{display:flex;justify-content: space-between;align-items: center;
            .link_area{
                a + a{border-left:1px solid #d4d9ea;padding-left:10px;margin-left:10px}
            }
        }
    }
}
.con_box{
    .ico_top{
        padding:48px 0 0 0;
        text-align: center
    }
    .main_info{
        color: $txt_dk;
        text-align: center;
        line-height: 26px;
        word-break: keep-all;
    }
    .sub_info{
        font-size:12px;
        line-height: 22px;
        margin-bottom:26px;
    }
    h2{padding:48px 0 42px 0;
        margin:0 auto;
        font-size:22px;
        font-weight: 700;
        color: $txt_dk;
        text-align: center;
        &.s_mg{padding:32px 0 16px 0;}
        &.line_type{
            font-size: 20px;
            text-align: left;
            padding:12px 16px;
            border-bottom:1px solid #d4d9ea;
        }
    }
    h3{padding:0px 0 8px 0;
        font-size:16px;
        font-weight: 700;
        color: $txt_dk;
    }
    .between{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .check_area{
        > div{margin-bottom:16px}
        .view_wrap{
            padding:0 0 0 16px;
            > div{margin-bottom:16px}
        }
    }
}
.link_view,.btn_view{
    color:$primary !important;
    display: flex;
    align-items: center;
    &:after{
        content: "";
        background: url('~assets/arrow_right.svg') center right no-repeat;
        width: 20px;
        height: 20px;
        margin-left:4px;
        display: inline-flex;
    }
}
.profile_wrap{
    text-align: center;
    img{ 
        width:100px;
        height:100px;
        border-radius:100px;
        overflow: hidden;
        margin:0 auto;
    }
}
//ico
.ico_success{
    display: inline-flex;
    width:100px;
    height:100px;
    background-size: contain !important;
    background: url('~assets/ico_success.png') center right no-repeat;
}
.ico_error{
    display: inline-flex;
    width:100px;
    height:100px;
    background-size: contain !important;
    background: url('~assets/ico_error.png') center right no-repeat;
}

//badge
.badge{
    height:16px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    padding:0 3px;
    border-radius: 2px;
    &.type1{
        border:1px solid #ffa500;
        background:#ffa500;
        color:#fff;
    }
    &.type2{
        border:1px solid #ccedf6;
        background:#EBF8FB;
        color:#00A2D0;
    }
}

//btn_wrap
.btn_wrap{
    display:flex;
    align-items: center;
    button + button{margin-left:16px}
    &.center{
        justify-content: center;
    }
}

//my_list
.my_list_wrap{
    margin-bottom:16px;
    li{display: flex;padding: 16px 0;
        border-bottom:1px solid $com_line;
        justify-content: space-between;
        .txt_area{
            font-size: 16px;
            .txt01{width:120px;display: inline-flex;}
            .txt02{color:$txt_dk}
        }
        
    }
     //700보다 작아질때
     @media (max-width: $breakpoint-xs-max) {
        .txt_area{
            span{display: block;}
            .txt02{margin-top:8px}
        }
    }
}