// app global css in Scss form
@import 'variables.scss';

.text-deep-purple {
    color: $primary !important;
}
//button
.m-button3.size-small {
    height: 36px;
    min-height: 36px;
    min-width: 80px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}
.m-button3 {
    border-radius: 8px !important;
    &.color-primary{
        &.lined {
            background-color: #ffffff;
            color: $primary !important;;
            border: 1px solid $primary !important;;
        }
    }
    &.color-textPrimary{color: $primary;}
}
.m-button3.color-slateBlue {
    background-color: $primary !important;
    color: #ffffff;
}
.m-button3.color-mediumGrey.lined.light_gray{
    background-color: #ffffff !important;
    color: #9CA8BA !important;
    border: 1px solid #9ca8ba !important;
}
.m-button3.color-mediumGrey.lined.primary{
    background-color: #ffffff !important;
    color: $primary !important;
    border: 1px solid $primary !important;
}

//input
.m-input{
    .ico_search{
        background: url('~assets/ico_search.svg') center right no-repeat; 
        background-size:contain; 
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width:25px;
        height:25px;
        text-indent: -999em;
    }
}

.m-input.q-field--with-bottom {
    padding-bottom: 0 !important;
    .q-field__bottom.q-field__bottom--animated{
        display: none;
    }
    &.q-field--error,&.border-green{
        .q-field__bottom.q-field__bottom--animated{
            display: flex;
        }
    }
}
.q-field__bottom--animated {
    transform:inherit !important;
    position: relative !important;
}

.q-field--filled{
    &.round_type{
        .q-field__control {
            padding: 0 12px;
            background: #FAFBFC !important;
            border-radius: 46px;
            &::before{
                background: #F4F2FF !important;
                border-bottom: 0 !important;
               
            }
            &::after{
                height: 0px !important;
            }
        }
    }
}
.m-input .q-field__append.q-field__marginal.row.no-wrap.items-center {
    z-index: 1;
}
.m-input {
    &.q-field--rounded .q-field__control {
        border-radius: 46px;
        // padding: 0 12px;
        // background: #FAFBFC !important;

        &::before {
            background: #F4F2FF;
            border-bottom: 0px;
            opacity: 0;
            transition: opacity 0.36s cubic-bezier(0.4, 0, 0.2, 1), background 0.36s cubic-bezier(0.4, 0, 0.2, 1);
        }
        &::after {
            height: 0px;
        }
    }
}
.ico_ip_search{
    background: url('~assets/ico_ip_search.svg') center right no-repeat;
    width: 25px;
    height: 25px;
    display: inline-flex;
}
//check
.q-checkbox--dense .q-checkbox__label {
    color: #141414;
}
//radio
.m-radio .q-radio__label.q-anchor--skip {
    color: #141414;
    padding-left: 8px !important;
}
//tab
.q-tabs{
    &.line_type{
        .q-tabs__content {
            display: flex;
            position: relative;
            > div{flex:1}
            .q-focus-helper {
                background-color: #fff !important;
                &:active{background-color: #fff !important;}
            }
            .q-tab{
                position: relative;
                transition: color 0, background-color 0;
            }
            &:after{
                content: '';
                position: absolute;
                width:100%;
                bottom:0;
                border-bottom:1px solid $com_line;
            }
        }
        .q-tab__indicator {
            position: absolute;
            bottom: 0px;
            z-index: 1;
            height: 3px;
            background: $primary !important;
        }
        .q-tab--active{
            .q-tab__label{
            color: $primary !important;
            }
        }
    }
}
.m-tabs{
    .m-tabs-item.inactive{
        color: $txt_gray !important;
    }
    &.small {
        .m-tabs-item {
            height: 34px;
            font-size: 14px;
            flex: 1;
            min-width: 80px;
            border: none;
            margin: 0 1px;
        }
    }
    &.large {
        .m-tabs-item {
            height: 58px;
            font-size: 18px;
            flex: 1;
            min-width: 80px;
            border: none;
            margin: 0 1px;
        }
    }
    &.card_type{
        display: inline-flex;
        border-bottom: 0;
        .m-tabs-item.active {
            color: #fff !important;
            font-weight: 500;
            position: relative;
            border-radius: 8px;
            background: linear-gradient(to right, #8673ff 0%, #5a3ffa 100%);
        }
        button{padding:0 10px}
    }
    &.box_type{
        .m-tabs-item.active {
            background-color: $primary !important;
            color: #fff !important;
            font-weight: bold;
            position: relative;
        }
        
    }
    //&.mg0{margin:0 -16px 0 -16px}
}
.m-tabs .m-tabs-item.active {
    background-color: #fff!important;
    color: $primary !important;
    font-weight: bold;
    position: relative;
    &::after{
        content:'';
        position: absolute;
        bottom:0;
        height:2px;
        left:0;
        right:0;
        background: $primary;
    } 
}
.tab_contents,.box_contents{
 padding: 16px 16px 0 16px;
 //700보다 작아질때
    @media (max-width: $breakpoint-xs-max) {
        padding: 16px 12px 0 12px;
    }

}
.q-tab__alert {
    height: 8px;
    width: 8px;
}

//ranking
.ranking_slide{
    .q-carousel__arrow{
        align-items: flex-end !important;
        font-size: 28px;
        bottom: 7px;
        button{
            i{margin-top: -7px;}
        }
    }
    .q-carousel__navigation .q-btn {
        margin: 0 !important;
    }
    .q-carousel__navigation-inner {
        .q-btn .q-icon, .q-btn .q-spinner {
            font-size: 1.2em;
        }
        .q-carousel__navigation-icon--active{
            color:$primary !important;
        }
        .q-carousel__navigation-icon--inactive{
            color:#d4d9ea !important;
            opacity: 1;
        }
    }
}

//dialog
.dailog_wrap{
    position:relative;
    &.tit_add{
        .dailog_top{
            flex-wrap: wrap;
            justify-content: center;
            .btn_area{display: flex;
            width:100%;
            justify-content: flex-end;}
            .dialog_tit{width:100%;}
            .check_area{
                display: flex;
                width:100%;
                padding:0 16px;
                box-sizing: border-box;
                justify-content: space-between;
            }
        }
    }
    .dailog_top{display: flex;
        justify-content: flex-end;
    }
    .dialog_tit{text-align:center;font-size:18px;color:#141414;font-weight: 700;}
    .dg_con{
        max-height:80vh;
        overflow: auto;
        padding: 16px;
        white-space: pre-line;}
    
    .fixed_btn_wrap{
        padding:32px 16px;
    }
    &.fixed_btn{
        .dg_con{
            max-height:60vh;
            overflow: auto;
            white-space: pre-line;
        }
    }
    //700보다 작아질때
    @media (max-width: $breakpoint-xs-max) {
        height: 100vh;
       
        .dg_con {
            max-height:calc(100vh - 150px) !important;
        }
        &.tit_add{
            .dg_con {
                max-height:calc(100vh - 190px) !important;
            }
        }
        &.tit_add{
            &.check_add{
                .dg_con {
                    max-height:calc(100vh - 220px) !important;
                }
            }
           
        }
    }
}
//700보다 작아질때
@media (max-width: $breakpoint-xs-max) {
    .dialog-content{
        max-height:100vh !important;
    }
    .q-dialog__inner--minimized > div {
        max-height:100vh;
        width:100%;
    }
}
 //700보다 클때
@media (min-width: 700px){
    .q-dialog__inner--minimized > div {
        max-width: 400px;
        min-width: 350px;
    }
}
//q-table
.q-table{
    th{font-size: 14px;color:#9ca8ba}
}
.q-table thead, .q-table tr, .q-table th, .q-table td {
    border-color: #d4d9ea;
}
.q-table__card {
    box-shadow:none;
}
.ico_up,.ico_down{
    display:inline-flex;
    align-items: center;
    &:after{
        content:'';
        width: 10px;
        height: 10px;
        font-size: 9px;
        display: inline-flex;
        align-items: center;
        margin-left:4px;
    }
}
.ico_up{
    color: $txt_blue1;
    &:after{
        content:'▲';
        //background: url('~assets/ico_up.svg') center right no-repeat;
    }
}
.ico_down{
    color: $txt_red;
    &:after{
        content:'▼';
        //background: url('~assets/ico_down.svg') center right no-repeat; 
    }
}
//더보기
.view2_wrap{
    position: relative;
    .view2_area{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        &.full{
            overflow: visible;  
            -webkit-line-clamp: inherit;
        }
    }
    button{position: absolute;right:0;bottom:0}
}

//radio_wrap
.radio_wrap{
    margin:32px 0;
    &.right{text-align: right;}
    .m-radio + .m-radio{margin-left:16px}
}

//q-tooltip
.tooltip_type1{
    &.q-tooltip {
        z-index: 9000;
        position: fixed!important;
        overflow-y: visible;
        overflow-x: visible;
        padding:10px 16px;
        &::before{
            content:'▼';
            color: #6ee0b0;
            position: absolute;
            bottom: -10px;
            left:50%;
            transform: translateX(-50%);
        }
    }
    &.q-tooltip--style {
        font-size: 12px;
        color: #fafafa;
        background: #6ee0b0;
        border-radius: 4px;
        text-transform: none;
        font-weight: 500;
    }
}
.tooltip_type2{
    border-radius: 8px;
    background: #141414;
    opacity: 0.8;
    padding: 8px 16px;
    box-sizing: border-box;
    min-width: 140px;
}


.q-checkbox__inner {
    color: $primary;
}

//progress
.progress_type1{
    border-radius: 10px;
    &.q-linear-progress {
        color: #c1b7ff;
    }
    .q-linear-progress__track--light {
        background:#f4f2ff;
    } 
}

//accordion_type1
.q-focus-helper{
    opacity: 0 !important;
}
.accordion_wrap{
    position: relative;
    .tit_btn{
        position: absolute;
        right: 41px;
        top: 18px;
        color:$primary;
    }
}
.accordion_type1{
    .q-item {
        padding: 8px 0px;
    }
    .q-item__label{font-weight: 700;
        font-size: 20px;
        color: $txt_dk;
    }
    hr{display: none;}
}

.swiper-container {
    //overflow: visible !important;
}

.m-textarea .m-textarea-border-wrapper {
    background:#fff;
}

//m-chip-list
.m-chip .m-chip-inner.lined {
    border: 0 !important;
    background: #ffffff !important;
    color: $txt_gray;
    font-weight: 500;
}
.m-chip-list {
    padding: 0 !important;
    margin:32px 0;
}
.m-chip-list .m-chip-list-wrappper .m-chip + .m-chip {
    margin-left: 0px !important;
}
.m-chip .m-chip-inner {
    display: inline-block;
    cursor: pointer !important;
    color: #ffffff;
    background: linear-gradient(to right, #8673ff 0%, #5a3ffa 100%);
    padding: 0px 16px;
    line-height: 34px !important;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 8px !important;
    border: 0 !important;
    position: relative;
}


.q-rating__icon {
    text-shadow: 0 0 0 rgb(0 0 0 / 0%), 0 1px 2px rgb(0 0 0 / 0%) !important;
}

.line_bar_wrap{
    position: relative;
    width:7px;
    height:88px;
    display: flex;
    &.red{
        .line{background: $txt_red;}
        .bar{background: $txt_red;}
    }
    &.blue{
        .line{background: $txt_blue1;}
        .bar{background: $txt_blue1;}
    }
    .line{
        height:88px;
        width: 1px;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .bar{
        position: absolute;
        width:7px;
        display: flex;

    }
    
}

//q-pagination 
.pagination_wrap{
    margin:32px 0;
    display: flex;
    justify-content: center;
}
.q-pagination {
    &.custom_type1{
        display: flex;
        align-items: center;
        button{
            color: $txt_gray !important;
            font-size: 16px !important;
            &.q-btn--standard{
                background: #fff !important;
                color:$primary !important ;
                font-weight: 700;
            }
            .q-btn__wrapper:before {
                box-shadow: 0 1px 5px rgb(0 0 0 / 0%), 0 2px 2px rgb(0 0 0 / 0%), 0 3px 1px -2px rgb(0 0 0 / 0%) !important;
            }
        }
    }
}