// app global css in Scss form
$primary:#8673FF;
$secondary:#ffa500;
$txt_dk:#141414;
$txt_red:#ec2222;
$txt_blue:#00a2d0;
$com_line:#d4d9ea;
.font12{font-size:12px}
.font16{font-size:16px;font-weight: 700;}
.primary{color:$primary;}
.secondary{color:$secondary}
.dark{color:$txt_dk}
.txt_red{color:$txt_red}
.txt_blue{color:$txt_blue}


.l_row_s{margin-bottom:16px}
.l_row{margin-bottom:26px;}
.l_row_l{margin-bottom:32px;}
.l_row_xl{margin-bottom:60px;}

.mgt16{margin-top:16px}

body{
    background-color: #f8f9fd !important;
    color: #9ca8ba !important;
    font-size: 14px;
    font-weight: 500;
    font-family: "Noto Sans KR", "Noto Sans", "Noto Serif KR", sans-serif;
}
.centerarea_box{
    width:332px;
    margin:0 auto;
    //700보다 작아질때
    @media (max-width: $breakpoint-xs-max) {
        width:100%;padding:0 12px;
    }
}
.centerarea_box01{
    width:100%;
    margin:0 auto;
    .btn_wrap{width:332px;margin:0 auto;
        &.l_row_s{padding-bottom:16px}
        &.l_row{padding-bottom:26px;}
        &.l_row_l{padding-bottom:32px;}
        &.l_row_xl{padding-bottom:60px;}
    }
    //700보다 작아질때
    @media (max-width: $breakpoint-xs-max) {
        width:100%;padding:0 12px;
        .btn_wrap{width:100%;margin:0 auto}
    }
}
.sub_title{
    font-size:16px;
    color: $txt_dk;
    font-weight: 700;
}
.login_wrap{
    .monstock_logo{text-align: center;padding:32px 0;}
    .login_area{
        .l_row + .l_row{margin-bottom:26px}
        .btn_wrap{
            margin:10px 0 10px 0
        }
        .check_wrap{display:flex;justify-content: space-between;align-items: center;
            .link_area{
                a + a{border-left:1px solid #d4d9ea;padding-left:10px;margin-left:10px}
            }
        }
    }
}
.con_box{
    .ico_top{
        padding:48px 0 0 0;
        text-align: center
    }
    .main_info{
        color: $txt_dk;
        text-align: center;
        line-height: 26px;
        word-break: keep-all;
    }
    .sub_info{
        font-size:12px;
        line-height: 22px;
        margin-bottom:26px;
    }
    h2{padding:48px 0 42px 0;
        margin:0 auto;
        font-size:22px;
        font-weight: 700;
        color: $txt_dk;
        text-align: center;
        &.s_mg{padding:32px 0 16px 0;}
        &.line_type{
            font-size: 20px;
            text-align: left;
            padding:12px 16px;
            border-bottom:1px solid #d4d9ea;
        }
    }
    h3{padding:0px 0 8px 0;
        font-size:16px;
        font-weight: 700;
        color: $txt_dk;
        .link_view{font-size: 14px;font-weight: 500;}
    }
    .between{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .check_area{
        > div{margin-bottom:16px}
        .view_wrap{
            padding:0 0 0 16px;
            > div{margin-bottom:16px}
        }
    }
}
.link_view,.btn_view{
    color:$primary !important;
    display: flex;
    align-items: center;
    &:after{
        content: "";
        background: url('~assets/arrow_right.svg') center right no-repeat;
        width: 20px;
        height: 20px;
        margin-left:4px;
        display: inline-flex;
    }
}
.profile_wrap{
    text-align: center;
    img{ 
        width:100px;
        height:100px;
        border-radius:100px;
        overflow: hidden;
        margin:0 auto;
    }
}
//ico
.ico_success{
    display: inline-flex;
    width:100px;
    height:100px;
    background-size: contain !important;
    background: url('~assets/ico_success.png') center right no-repeat;
}
.ico_error{
    display: inline-flex;
    width:100px;
    height:100px;
    background-size: contain !important;
    background: url('~assets/ico_error.png') center right no-repeat;
}

//badge
.badge{
    height:16px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    padding:0 3px;
    border-radius: 2px;
    &.type1{
        border:1px solid #ffa500;
        background:#ffa500;
        color:#fff;
    }
    &.type2{
        border:1px solid #ccedf6;
        background:#EBF8FB;
        color:#00A2D0;
    }
}

//btn_wrap
.btn_wrap{
    display:flex;
    align-items: center;
    button + button{margin-left:16px}
    &.center{
        justify-content: center;
    }
}

//my_list
.my_list_wrap{
    margin-bottom:16px;
    li{display: flex;padding: 16px 0;
        border-bottom:1px solid $com_line;
        justify-content: space-between;
        .txt_area{
            font-size: 16px;
            .txt01{width:120px;display: inline-flex;}
            .txt02{color:$txt_dk}
        }
        
    }
     //700보다 작아질때
     @media (max-width: $breakpoint-xs-max) {
        .txt_area{
            span{display: block;}
            .txt02{margin-top:8px}
        }
    }
}

//link_info
.link_info{
    .tit{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom:8px
    }
    .txt01{color:$txt_dk;font-weight: 700;}
    .ico_trash{
        display: inline-flex;
        align-items: center;
        color: $primary;
        line-height: 26px;
        &::before{
            content:'';
            width:26px;
            height:26px;
            background: url('~assets/ico_trash.svg') center right no-repeat;
        }
       
    }
    .link_txt{
        a{display: inline-flex;color: $txt_blue;word-break: break-all;}
    }
}

//mypage
.mypage_info_wrap{
    display:flex;
    justify-content: space-between;
    align-items: center;
    .my_profile{
        display: flex;
        align-items: center;
        flex:1;
        .img_area{
            width:80px;
            height:80px;
            border-radius: 80px;
            overflow: hidden;
            margin-right:16px;
            img{width:100%;height:100%}
        }
        .badge_area{span + span{margin-left:8px}}
        .tit_area{
            .txt_tit{
                display:block;
                font-size: 20px;
                font-weight: 700;
                color: $txt_dk;
                margin-bottom: 8px;
            }
        }
    }
    .follow_wrap{
        display:flex;
        flex:1;
        height: 66px;
        .txt01{line-height: 22px;font-size: 12px;}
        .txt02{color:$primary;margin-top:8px;font-size:24px;line-height: 30px;}
       li{
            width:50%;
            text-align: center;
            span{display: block;}
         }
        li + li{border-left:1px solid #d4d9ea} 
    }
     //700보다 작아질때
     @media (max-width: $breakpoint-xs-max) {
        flex-wrap: wrap;
        .my_profile,.follow_wrap{width:100%;flex: inherit;}
        .follow_wrap{margin:32px 0 0 0}
    }
}

//pro정보
.pro_info_wrap{
    background: #f4f2ff;
    padding:16px;
    border-radius: 8px;
    margin:32px 0;
    .tit_area{
        display: flex;
        justify-content: space-between;
        margin-bottom:16px;
        .tit_txt{color: $txt_dk;font-size: 16px;font-weight: 700;}
    }
    .pro_list{
        display: flex;
        flex-wrap: wrap;
        li{
            width:50%;
            box-sizing: border-box;
            display:flex;
            justify-content: space-between;
            .txt_tit{color:$txt_dk;font-weight: 700;}
            .txt_date{color:$primary}
            &:nth-child(2){padding-left:8px}
        }
    }
    
    .ico_info{ 
        color: $primary;
        display: inline-flex;
        align-items: center;
        &::before{
            content:'';
            display: inline-block;
            width:18px;
            height:18px;
            margin-right:4px;
            background: url('~assets/ico_info.svg') center center no-repeat;
        }
    }
     //700보다 작아질때
     @media (max-width: $breakpoint-xs-max) {
        .pro_list{
            li{
                width:100%;
                &:nth-child(2){padding-left:0px}
            }
            li + li{margin-top:8px}
        }
    }
}
.ico_add{
    display: flex;
    width:48px;
    height:48px;
    text-indent: -999em;
    background: url('~assets/ico_add.svg') center center no-repeat;}

//추천사용자
.recommend_list{
    width:160px;
    height:175px;
    box-sizing: border-box;
    border:1px solid rgba(108, 167, 255, 0.3);
    border-radius: 16px;
    text-align: center;
    padding:16px 0;
    .txt_tit{color: #000;font-weight: 700px;font-size: 16px;margin-top:16px}
    .img_area{
        width:80px;
        height:80px;
        border-radius: 80px;
        overflow: hidden;
        margin:0 auto;
        img{width:100%;height:100%}
    }
    .badge_area{span + span{margin-left:8px}}
}

//divider
.divider{
    background:#f8f9fd;
    height: 16px;
    width:calc(100% + 32px);
    margin:32px -16px 32px -16px;
}