// app global css in Scss form
$primary:#8673FF;

.text-deep-purple {
    color: $primary !important;
}
//button
.m-button3.size-small {
    height: 36px;
    min-height: 36px;
    min-width: 80px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}
.m-button3 {
    border-radius: 8px !important;
}
.m-button3.color-slateBlue {
    background-color: $primary !important;
    color: #ffffff;
}
.m-button3.color-mediumGrey.lined.light_gray{
    background-color: #ffffff !important;
    color: #9CA8BA !important;
    border: 1px solid #9ca8ba !important;
}
.m-button3.color-mediumGrey.lined.primary{
    background-color: #ffffff !important;
    color: $primary !important;
    border: 1px solid $primary !important;
}
//input
.q-field--filled{
    &.round_type{
        .q-field__control {
            padding: 0 12px;
            background: #FAFBFC !important;
            border-radius: 46px;
            &::before{
                background: #F4F2FF !important;
                border-bottom: 0 !important;
               
            }
            &::after{
                height: 0px !important;
            }
        }
    }
}
//check
.q-checkbox--dense .q-checkbox__label {
    color: #141414;
}
//radio
.m-radio .q-radio__label.q-anchor--skip {
    color: #141414;
    padding-left: 8px !important;
}
//tab
.m-tabs .m-tabs-item.active {
    background-color: #fff!important;
    color: #616161!important;
    font-weight: bold;
    position: relative;
    &::after{
        content:'';
        position: absolute;
        bottom:0;
        height:3px;
        left:0;
        right:0;
        background: $primary;
    }
    
}