// app global css in Scss form
$primary:#8673FF;
$secondary:#ffa500;
.font12{font-size:12px}
.font16{font-size:16px;font-weight: 700;}
.primary{color:#8673FF;}
.secondary{color:#ffa500}
.dark{color:#141414}
body{
    background-color: #f8f9fd !important;
    color: #9ca8ba !important;
    font-size: 14px;
    font-weight: 500;
    font-family: "Noto Sans KR", "Noto Sans", "Noto Serif KR", sans-serif;
}
.centerarea_box{
    width:332px;
    margin:0 auto;
    //700보다 작아질때
    @media (max-width: $breakpoint-xs-max) {
        width:100%;padding:0 12px;
    }
}
.sub_title{
    font-size:16px;
    color: #141414;
    font-weight: 700;
}
.login_wrap{
    .monstock_logo{text-align: center;padding:32px 0;}
    .login_area{
        .l_row + .l_row{margin-bottom:26px}
        .btn_wrap{
            margin:10px 0 10px 0
        }
        .check_wrap{display:flex;justify-content: space-between;align-items: center;
            .link_area{
                a + a{border-left:1px solid #d4d9ea;padding-left:10px;margin-left:10px}
            }
        }
    }
}
.con_box{
    .l_row{margin-bottom:26px}
    .l_row_s{margin-bottom:16px}
    h2{padding:48px 0 42px 0;
        margin:0 auto;
        font-size:22px;
        font-weight: 700;
        color: #141414;
        text-align: center;
    }
    .between{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .check_area{
        > div{margin-bottom:16px}
        .view_wrap{
            padding:0 0 0 16px;
            > div{margin-bottom:16px}
        }
    }
}
.link_view,.btn_view{
    color:$primary !important;
    display: flex;
    align-items: center;
    &:after{
        content: "";
        background: url('~assets/arrow_right.svg') center right no-repeat;
        width: 20px;
        height: 20px;
        display: inline-flex;
    }
}

//badge
.badge{
    height:16px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    padding:0 3px;
    border-radius: 2px;
    &.type1{
        border:1px solid #ffa500;
        background:#ffa500;
        color:#fff;
    }
    &.type2{
        border:1px solid #ccedf6;
        background:#EBF8FB;
        color:#00A2D0;
    }
}