// app global css in Scss form
@import 'variables.scss';

.text-deep-purple {
    color: $primary !important;
}
//button
.m-button3.size-small {
    height: 36px;
    min-height: 36px;
    min-width: 80px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}
.m-button3 {
    border-radius: 8px !important;
    &.color-primary{
        &.lined {
            background-color: #ffffff;
            color: $primary !important;;
            border: 1px solid $primary !important;;
        }
    }
    &.color-textPrimary{color: $primary;}
}
.m-button3.color-slateBlue {
    background-color: $primary !important;
    color: #ffffff;
}
.m-button3.color-mediumGrey.lined.light_gray{
    background-color: #ffffff !important;
    color: #9CA8BA !important;
    border: 1px solid #9ca8ba !important;
}
.m-button3.color-mediumGrey.lined.primary{
    background-color: #ffffff !important;
    color: $primary !important;
    border: 1px solid $primary !important;
}

//input

.q-field--filled{
    &.round_type{
        .q-field__control {
            padding: 0 12px;
            background: #FAFBFC !important;
            border-radius: 46px;
            &::before{
                background: #F4F2FF !important;
                border-bottom: 0 !important;
               
            }
            &::after{
                height: 0px !important;
            }
        }
    }
}
.m-input .q-field__append.q-field__marginal.row.no-wrap.items-center {
    z-index: 1;
}
.m-input {
    &.q-field--rounded .q-field__control {
        border-radius: 46px;
        // padding: 0 12px;
        // background: #FAFBFC !important;

        &::before {
            background: #F4F2FF;
            border-bottom: 0px;
            opacity: 0;
            transition: opacity 0.36s cubic-bezier(0.4, 0, 0.2, 1), background 0.36s cubic-bezier(0.4, 0, 0.2, 1);
        }
        &::after {
            height: 0px;
        }
    }
}
.ico_ip_search{
    background: url('~assets/ico_ip_search.svg') center right no-repeat;
    width: 25px;
    height: 25px;
    display: inline-flex;
}
//check
.q-checkbox--dense .q-checkbox__label {
    color: #141414;
}
//radio
.m-radio .q-radio__label.q-anchor--skip {
    color: #141414;
    padding-left: 8px !important;
}
//tab
.m-tabs{
    &.small {
        .m-tabs-item {
            height: 34px;
            font-size: 14px;
            flex: 1;
            min-width: 80px;
            border: none;
            margin: 0 1px;
        }
    }
    &.large {
        .m-tabs-item {
            height: 58px;
            font-size: 18px;
            flex: 1;
            min-width: 80px;
            border: none;
            margin: 0 1px;
        }
    }
    &.card_type{
        display: inline-flex;
        border-bottom: 0;
        .m-tabs-item.active {
            color: #fff !important;
            font-weight: 500;
            position: relative;
            border-radius: 8px;
            background: linear-gradient(to right, #8673ff 0%, #5a3ffa 100%);
        }
        button{padding:0 10px}
    }
}
.m-tabs .m-tabs-item.active {
    background-color: #fff!important;
    color: $primary !important;
    font-weight: bold;
    position: relative;
    &::after{
        content:'';
        position: absolute;
        bottom:0;
        height:2px;
        left:0;
        right:0;
        background: $primary;
    } 
}
.tab_contents,.box_contents{
 padding: 16px 16px 0 16px;
 //700보다 작아질때
    @media (max-width: $breakpoint-xs-max) {
        padding: 16px 12px 0 12px;
    }

}


//ranking
.ranking_slide{
    .q-carousel__arrow{
        align-items: flex-end !important;
        font-size: 28px;
        bottom: 7px;
        button{
            i{margin-top: -7px;}
        }
    }
    .q-carousel__navigation .q-btn {
        margin: 0 !important;
    }
    .q-carousel__navigation-inner {
        .q-btn .q-icon, .q-btn .q-spinner {
            font-size: 1.2em;
        }
        .q-carousel__navigation-icon--active{
            color:$primary !important;
        }
        .q-carousel__navigation-icon--inactive{
            color:#d4d9ea !important;
            opacity: 1;
        }
    }
}

//dialog
.dailog_wrap{
    position:relative;
    .dailog_top{display: flex;
        justify-content: flex-end;
    }
    .dialog_tit{text-align:center;font-size:18px;color:#141414;font-weight: 700;}
    .dg_con{
        max-height:80vh;
        overflow: auto;
        padding: 16px;
        white-space: pre-line;}
    
    .fixed_btn_wrap{
        padding:32px 16px;
    }
    &.fixed_btn{
        .dg_con{
            max-height:60vh;
            overflow: auto;
            white-space: pre-line;
        }
    }
    //700보다 작아질때
    @media (max-width: $breakpoint-xs-max) {
        height: 100vh;
        .dg_con {
            max-height:calc(100vh - 150px) !important;
        }
    }
}
//700보다 작아질때
@media (max-width: $breakpoint-xs-max) {
    .dialog-content{
        max-height:100vh !important;
    }
    .q-dialog__inner--minimized > div {
        max-height:100vh;
        width:100%;
    }
}
 //700보다 클때
@media (min-width: 700px){
    .q-dialog__inner--minimized > div {
        max-width: 400px;
        min-width: 350px;
    }
}
//q-table
.q-table{
    th{font-size: 14px;color:#9ca8ba}
}
.q-table thead, .q-table tr, .q-table th, .q-table td {
    border-color: #d4d9ea;
}
.q-table__card {
    box-shadow:none;
}
.ico_up,.ico_down{
    display:inline-flex;
    align-items: center;
    &:after{
        content:'';
        width: 20px;
        height: 20px;
        display: inline-flex;
    }
}
.ico_up{
    color: $txt_red;
    &:after{
        background: url('~assets/ico_up.svg') center right no-repeat;
    }
}
.ico_down{
    color: $txt_blue;
    &:after{
        background: url('~assets/ico_down.svg') center right no-repeat; 
    }
}
//더보기
.view2_wrap{
    position: relative;
    .view2_area{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        &.full{
            overflow: visible;  
            -webkit-line-clamp: inherit;
        }
    }
    button{position: absolute;right:0;bottom:0}
}

//radio_wrap
.radio_wrap{
    margin:32px 0;
    &.right{text-align: right;}
    .m-radio + .m-radio{margin-left:16px}
}