// app global css in Scss form
$primary:#8673FF;
$secondary:#ffa500;
$txt_dk:#141414;
$txt_gray:#9ca8ba;
$txt_red:#ec2222;
$txt_red1:#fb1f1f;
$txt_blue:#2c80ff;
$txt_blue1:#43c890;
$com_line:#d4d9ea;
$txt_brown:#c79058;

.primary{color:$primary !important; }
.secondary{color:$secondary !important;}
.txt_dk{color:$txt_dk !important;}
.txt_red{color:$txt_red !important;}
.txt_red1{color:$txt_red1 !important;}
.txt_blue{color:$txt_blue !important;}
.txt_blue1{color:$txt_blue1 !important;}
.txt_gray{color:$txt_gray !important;}
.txt_brown{color:$txt_brown !important;}