// app global css in Scss form
$primary:#8673FF;
$secondary:#ffa500;
$txt_dk:#141414;
$txt_gray:#9ca8ba;
$txt_red:#ec2222;
$txt_blue:#00a2d0;
$com_line:#d4d9ea;


.font12{font-size:12px}
.font16{font-size:16px;font-weight: 700;}
.font18{font-size:18px !important;}
.primary{color:$primary !important; }
.secondary{color:$secondary !important;}
.txt_dk{color:$txt_dk !important;}
.txt_red{color:$txt_red !important;}
.txt_blue{color:$txt_blue !important;}
.txt_gray{color:$txt_gray !important;}
